## Coding Practice
----------

### Code 4.1: Fish Population

In [3]:
r = 0.25
population = 15000
licenses = 1000

years = 10

for i in range(years):
    new = population + (r * population) - licenses
    print(new)

    population = new

17750.0
21187.5
25484.375
30855.46875
37569.3359375
45961.669921875
56452.08740234375
69565.10925292969
85956.38656616211
106445.48320770264

### Code 4.2: Candy Exchange

In [9]:
candy = 25

paper = 0

total_candy = candy

while True:
    paper = candy

    candy = paper // 5

    total_candy += candy
    print(total_candy)

    if candy <=0:
        break

30
31
31

### Code 4.3: Printing Song Lyrics

In [10]:
line = "Around the world, around the world"

for i in range(2):
    print(line)

Around the world, around the world
Around the world, around the world

### Code 4.4: Printing Numbers

In [ ]:

for i in range(1, 20 + 1):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [13]:
empty = ""

for i in range(1, 20 + 1):
    i = str(i) + " "
    empty += i

print(empty)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

### Code 4.5: Sum of Numbers

In [16]:
n = 5

summen = 0

for i in range(1, n + 1):
    summen += i

print(f"The sum of natural numbers up to {n} is {summen}")

The sum of natural numbers up to 5 is 15

### Code 4.6: Factorial (Buddy-Exercise)

In [ ]:
n = 5
fact_str = ""
solution = 1
for i in range(1, n + 1):
    fact_str = fact_str + str(i)
    solution = solution * i
    print(str(i) + "! =", fact_str, "=", solution)
    fact_str = fact_str + " * "

1! = 1 = 1
2! = 1 * 2 = 2
3! = 1 * 2 * 3 = 6
4! = 1 * 2 * 3 * 4 = 24
5! = 1 * 2 * 3 * 4 * 5 = 120

In [18]:
n = 5
for i in range(1, n + 1):
    fact_str = str(i) + "! = 1"
    solution = 1
    for j in range(2, i +1 ):
        fact_str = fact_str + " * " + str(j)
        solution = solution * j
    print(fact_str + " = " + str(solution))

1! = 1 = 1
2! = 1 * 2 = 2
3! = 1 * 2 * 3 = 6
4! = 1 * 2 * 3 * 4 = 24
5! = 1 * 2 * 3 * 4 * 5 = 120

### Code 4.7: Printing a Pyramid

In [33]:
height = 5
space = height - 1

for i in range(1, height * 2, 2):
    print(space * " ", i * "*")
    space -= 1

     *
    ***
   *****
  *******
 *********

In [34]:
height = 5

for i in range(1, height + 1):
    spaces = ' ' * (height - i)    # antal foranstillede mellemrum
    stars  = '*' * (2*i - 1)       # antal stjerner i rÃ¦kken
    print(spaces + stars)

    *
   ***
  *****
 *******
*********