In [13]:
import math

### Code 2.1: Arrival Times

In [12]:
delay = 35
hours = 23
minu = 30

total_min = minu + delay
arrivel_min = total_min % 60

total_hour = hours + (total_min // 60)
arrivel_hour = total_hour % 24


print(f"the train will arrive {arrivel_min} after {arrivel_hour}")

the train will arrive 5 after 0

### Code 2.2: Photo Grid

In [16]:
num_photos = 17

side = math.ceil(math.sqrt(num_photos))

empty = side**2 - 17

print(f"A grid of size {side}x{side} is needed, leaving {empty} empty cells")

A grid of size 5x5 is needed, leaving 8 empty cells

### Code 2.3: Name and Age

In [25]:
age = 20
name = 'Josefine'

age_type = type(age)
name_type = type(name)


print(f"Age has the value {age} and is of the type {age_type}")
print(f"Name has the value {name} and is of the type {name_type}")

Age has the value 20 and is of the type <class 'int'>
Name has the value Josefine and is of the type <class 'str'>

### Code 2.4: Small Sentences

In [20]:
que = "How many days old is Josefine?"
answer = age * 365

print(f"The question is {que} and the answer is {answer}")

The question is How many days old is Josefine? and the answer is 2920

### Code 2.5: Adult

In [26]:
is_adult = (age >= 18)

print(is_adult)

True

### Code 2.6: Are You a Student at DTU?

In [31]:
is_student = True
student_campus = 'Ballerup'

is_dtu_student = ((is_student == True) and (student_campus =='Lyngby' or student_campus == "Ballerup"))

print(is_dtu_student)

True

### Code 2.7: New Record

In [39]:
current_record = 5.21
new_record_attempt = 5.42

current_record = max(current_record, new_record_attempt)

new_record_attempt = 5.35
current_record = max(current_record, new_record_attempt)

print(current_record)

5.42

### Code 2.8: Full Rotations

In [41]:
total = 1740
full = 360 

rotations = total // full

left_degress = total % full

print(f"The amount of rotations is {rotations} and there is {left_degress} degrees left")

The amount of rotations is 4 and there is 300 degrees left

### Code 2.9: Predict Execution

In [44]:
a = 15.5
b = a
a = 7

print(a,b)

7 15.5

In [43]:
a = 5
b = 3
a = b
b = a

print(a, b)

3 3

In [45]:
i = 15
i = 1 + 1
i = i + 1

print(i)

3

In [46]:
letters = 'abc'
letters = 'x' + 2 * letters + 'y'
letters = 'x' + 2 * letters + 'y'

print(letters)

xxabcabcyxabcabcyy

### Code 2.10: Swap Values

In [47]:
a = 5
b = 3

a = b
b = a + 2

print(a,b)

3 5